.main{
    max-width: 2500px;
    margin: auto;
    text-align: center;
    height: 100vh;
}

.main::before{
    content: "";
    background-image: url("background_pic.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
}

.title{
    font-weight: bold;
    font-size: 50px;
    padding-top: 50px;
}

.buttons{
    display: flex;
    flex-basis: 30%;
    flex-direction: row;
    justify-content: center;
    margin: 20px;t
}

.button__description--text{
    font-size: 20px;
    font-style: bold;
    margin: 30px;
}

.button__text{
    width: 500px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-color: rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(48,77,109);
}

.button__text:hover{
    color: rgb(48, 77, 109);
    border: 1px solid rgb(48,77,109);
    background-color: rgb(179,222,226);
}

/* check this again */
.description{
    text-align: center;
    background-color: rgb(150,150,150);
    padding: 20px;
    height: 50%;
}

.description__button{
    height: 60px;
    color: rgb(48,77,109);
    border: 1px solid rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(179,222,226);
}

.description__button:hover{
    color: white;
    border: 1px solid rgb(48,77,109);
    background-color: rgb(48,77,109);
}

/* check this in connection with description-div */
.description__text{
    display: inline-block;
    text-align: left;
    margin: auto;
    max-width: 500px;
}

.description__hidebutton{
    text-align: center;
}

.description__button--hide{
    height: 20px;
    color: rgb(48,77,109);
    border: 1px solid rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(179,222,226);
}

.description__button--hide:hover{
    color: white;
    border: 1px solid rgb(48,77,109);
    background-color: rgb(48,77,109);
}
