/*Schrift:*/
/* roboto-100 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/roboto-v30-latin-100.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/roboto-v30-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  *{
    font-family: "Roboto";
  }

/* Allgemeines css fuer Frontpage und Teile des Multiplayers und Singleplayers: */
.main{
    max-width: 2500px;
    margin: auto;
    text-align: center;
    height: 100vh;
}

/* css fuer die Spieleauswertung */
.countdown{
    color: black;
    font-size: 100px;
}

/* workaround fuer Hintergrundbild */
.main::before{
    content: "";
    background-image: url("background_pic.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
}

.title{
    font-weight: bold;
    font-size: 50px;
    padding: 30px;
    background-color: rgb(48,77,109);
    color: white;
    display: inline-block;
    border-radius: 10px;
}

.backbutton{
    float: left;
    color: white;
    margin: 20px;
    margin-left: 40px;
    padding: 5px;
    border: 1px solid rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(48,77,109);
}

.backbutton:hover{
    color: rgb(48, 77, 109);
    background-color: rgb(179,222,226);
}

/* css fuer Frontpage, die naechsten vier Codebloecke sind fuer die Buttons und deren Inhalt, sowie den Hover-Effekt*/
/* check how and if flex-basis is needed */
.buttons{
    display: flex;
    flex-basis: 30%;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.button__description--text{
    font-size: 20px;
    font-style: bold;
    margin: 30px;
    padding: 10px;
    background-color: rgb(111,167,190);
    display: inline-block;
    border-radius: 10px;
}

.button__text{
    width: 500px;
    height: 100px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-color: rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(48,77,109);
}

.button__text:hover{
    color: rgb(48, 77, 109);
    border: 1px solid rgb(48,77,109);
    background-color: rgb(179,222,226);
}

/* Die naechsten sieben Codebloecke sind fuer den Beschreibungsbutton,
   seinen Inhalt, die Spielerklaerung sowie den Hover-Effekt auf den Buttons */
.description{
    text-align: center;
    background-color: rgb(150,150,150);
    background-size: cover;
    padding: 40px;
    margin: 20px;
    min-height: 40%;
}

.description__button{
    height: 60px;
    color: rgb(48,77,109);
    border: 1px solid rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(179,222,226);
}

.description__button:hover{
    color: white;
    border: 1px solid rgb(48,77,109);
    background-color: rgb(48,77,109);
}

.description__text{
    display: inline-block;
    text-align: left;
    margin: auto;
    max-width: 500px;
}

.description__hidebutton{
    text-align: center;
}

.description__button--hide{
    height: 20px;
    color: rgb(48,77,109);
    border: 1px solid rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(179,222,226);
}

.description__button--hide:hover{
    color: white;
    border: 1px solid rgb(48,77,109);
    background-color: rgb(48,77,109);
}

/* css fuer die Multiplayer-Seite: */
.rounds{
    background-color: rgb(179,222,226);
    color: rgb(48,77,109);
    padding: 40px;
}

.rounds__buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

.rounds__buttons--text{
    font-size: large;
    font-weight: bold;
    width: 80px;
    height: 50px;
    color: white;
    border: 1px solid rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(48,77,109);
    padding: 10px;
}

.rounds__buttons--text:hover{
    color: white;
    border: 1px solid rgb(48,77,109);
    background-color: rgb(111,167,190);
}

.selection{
    color: rgb(48,77,109);
}

.selection__playertext{
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.selection__buttons{
    display: flex;
    flex-direction: row;
}

.selection__buttons--decision{
    font-size: 30px;
    font-weight: bold;
    width: 80px;
    height: 50px;
    color: white;
    border: 1px solid rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(48,77,109);
    padding: 10px;
}

.selection__buttons--decision:hover{
    color: rgb(48,77,109);
    border: 1px solid rgb(48,77,109);
    background-color: rgb(179,222,226);
}

.background{
    text-align: center;
    background-color: rgb(150,150,150);
    padding: 40px;
    margin: 40px;
    min-height: 60%;
    background-size: cover;
}

.title__multiplayer{
    font-weight: bold;
    font-size: 50px;
    padding: 30px;
    color: white;
}

.title__singleplayer{
    font-weight: bold;
    font-size: 50px;
    padding: 30px;
    color: white;
}

.button__nextround{
    font-size: 20px;
    font-weight: bold;
    color: white;
    border-color: rgb(48,77,109);
    border-radius: 10px;
    background-color: rgb(48,77,109);
}

.button__nextround:hover{
    color: rgb(48, 77, 109);
    border: 1px solid rgb(48,77,109);
    background-color: rgb(179,222,226);
}
